body {
    margin: 0 20px;
}

h1 {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    width: 95%;
    margin: 0 auto;
}

header {
    min-height: 90vh;
    height: 90vh;
    padding: 0;
}

nav {
    height: 80%;
}

ul {
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
}

li {
    height: 327px;
    min-height: 327px;
}

img {
    height: 250px;
    width: 100%;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 22px;
    color: black;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 56px;
}

.two {
    margin-bottom: 40px;
}

.two {
    margin-left: 25px;
    width: 90%;
}

.container {
    padding: 0 2rem;
    max-width: 65rem;
    margin: 0 auto;
}

.columns {
    display: flex;
    gap: 1em;
}

.columns > * {
    width: 100%;
    border: 3px solid black;
}